@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Be Vietnam Pro', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-clinic-blue: #003580;
    --color-clinic-teal: #0d9488;
    --color-clinic-sky: #3b82f6;
    --color-clinic-gray: #475569;
    --color-clinic-light: #f1f5f9;
}
